<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-end" style="z-index: 1000;">
  <a class="navbar-brand" href="#">IPCS2.0</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavDropdown" style="margin-right: 10%;">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a id="nav-a-home" class="nav-link" href="./home.html">Home</a>
      </li>
      <li class="nav-item">
        <a id="nav-a-cal" class="nav-link" href="./calendarios.html">Calendarios</a>
      </li>
      <li class="nav-item">
        <a id="nav-a-about" class="nav-link" href="./about_us.html">About us</a>
      </li>
      <li class="dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false"
          id="a-toggler-dropdown">
          Ver más...
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a id="auto-eval-a-nav" class="dropdown-item nav-item" href="./autoevaluacion.html">Autoevaluación</a>
          <a id="tfgs-a-nav" class="dropdown-item nav-item" href="./tfgs_anteriores.html">TFG's anteriores</a>
          <a id="requisitos-a-nav" class="dropdown-item nav-item" href="./requisitos_norm.html">Requisitos y
            normativas</a>
        </div>
      </li>
    </ul>
  </div>
</nav>