<div class="mt-4 table-responsive-sm" id="phone-calendars" style="width:90%;">
  <div class="row mt-4">
    <h2>Alumno/a</h2>
  </div>
  <div class="table-responsive-sm">
    <div class="row">
      <div class="mt-2 table-responsive-sm">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Estudiante</th>
              <th>Primera Convocatoria</th>
              <th>Segunda Convocatoria</th>
              <th>Tercera Convocatoria</th>
              <th>Cuarta Convocatoria</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Matricular el TFG en GAUR
                (matrículas>>matrículas varios) y
                solicitar la defensa a través de
                GAUR (gestión de trabajos fin
                de grado)</td>
              <td>Hasta el 17 de octubre 2024</td>
              <td>Hasta el 6 de febrero 2025</td>
              <td>Hasta el 16 de junio de 2025 </td>
              <td>Hasta el 4 de septiembre 2025</td>
            </tr>
            <tr>
              <td>Subir el trabajo a la plataforma
                digitalADDI.
                Enviar el póster a la dirección
                dif.gral@ehu.eus</td>
              <td>Hasta el 27 de octubre 2024</td>
              <td>Hasta el 16 de febrero 2025</td>
              <td>Hasta el 22 de junio de 2025</td>
              <td>Hasta el 14 de septiembre 2025</td>
            </tr>
            <tr>
              <td>Defensa de los TFG</td>
              <td>Del 4 al 8 de noviembre 2024</td>
              <td>Del 24 al 28 de febrero 2025</td>
              <td>Del 30 de junio al 16 de julio 2025</td>
              <td>Del 22 al 26 de septiembre 2025</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <h2>Director/a</h2>
  </div>
  <div class="table-responsive-sm">
    <div class="row">
      <div class="mt-2 table-responsive-sm">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Director/a</th>
              <th>Primera Convocatoria</th>
              <th>Segunda Convocatoria</th>
              <th>Tercera Convocatoria</th>
              <th>Cuarta Convocatoria</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>El/la director/a queda
                informado/a de la defensa y sube
                el informe con los detalles del
                tribunal a GAUR</td>
              <td>Hasta el 18 de octubre 2024</td>
              <td>Hasta el 7 de febrero 2025</td>
              <td>Hasta el 17 de junio de 2025 </td>
              <td>Hasta el 5 de septiembre 2025</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <h2>Tribunal Evaluador</h2>
  </div>
  <div class="row">
    <div class="mt-2 table-responsive-sm">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Tribunal Evaluador/a</th>
            <th>Primera Convocatoria</th>
            <th>Segunda Convocatoria</th>
            <th>Tercera Convocatoria</th>
            <th>Cuarta Convocatoria</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>El/la director/a queda
              informado/a de la defensa y sube
              el informe con los detalles del
              tribunal a GAUR</td>
            <td>Hasta el 18 de octubre 2024</td>
            <td>Hasta el 7 de febrero 2025</td>
            <td>Hasta el 17 de junio de 2025 </td>
            <td>Hasta el 5 de septiembre 2025</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>