<div id="intro-home" style="text-align:justify; height: auto;">
    <h2 class="row mt-4">¿Qué es el TFG (Trabajo de Fin de Grado)?</h2>
    <p class="row mt-4 " style="padding:2%;">
      Trabajo protegido por la Ley de Propiedad intelectual, comprende la realización por cada estudiante 
      de manera individual, bajo supervisión de uno o más directores/as, donde se integran y desarrollan los contenidos formativos recibidos, 
      competencias, capacidades y destrezas durante el periodo de docencia del Grado.
    </p>
    <br/>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
